In [2]:
import pandas as pd
import numpy as np
import os

In [2]:
#Datos de diabetes

datos = pd.read_csv('/home/juan/machineLearning2025/datasets/diabetes_012_health_indicators_BRFSS2015.csv')

datos

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

In [3]:
datos.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [4]:
#datos.shape

datos.columns.values

array(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits',
       'Veggies', 'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost',
       'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age',
       'Education', 'Income'], dtype=object)

INFORMACION DE LAS COLUMNAS:'

HighBP-> Hipertension

HighChol -> COlesterol alto

CholCheck-> Chequeo de colesterol los ultimos 5 a;os

BMI -> Indice de masa corporal

Smoker ->Ha fumado al menos 100 cigarrros en su vida

Stroke -> Derrame cerebral

HeartDiseaseorAttack -> infarto coronario o infarto al miocardio

PhysActivity -> Actividad fisica los ultimos 30 dias

Fruits -> Consume al menos 1 fruta al dia

Veggies -> Consume vegetales al menos 1 vez al dia

HvyAlcoholConsump -> Hombres que toman mas de 14 bebidas alcoholicas por semana, mujeres mas de 7

AnyHealthcare-> Tiene algun seguro medico

NoDocbcCost-> En el ultimo a;o, no visito a un doctor debido a no poder costear los servicios medicos.

GenHlth -> OPinion de salud general, tu salud general es? Escala 1-5.

MentHlth -> Por cuantos dias durante el ultimo mes (1-30) no tuviste una salud buena?

PhysHlth -> Por cuantos dias durante el ultimo mes (1-30) tu salud no fue buena?

DiffWalk -> TIenes dificultades para caminar o subir escaleras?

Sex -> 0=Femenino, 1= Masculino

Age ->  escala del 1-13, 1= 18-24, 9=60-64, 13=80 o mayores

Education -> escala del 1-6, 1=nunca fue a la escuela o solo kinder, 2=grados 1-8, 3= grados 9-11, 4= grado 12 o graduados de HIgh school, 5= 1-3 de universidad, 6= 4 o mas a;os de universidad

Income -> escala 1-8 1= menos de 10,000, 5= menos de 35,000, 8=75,000 o mas

In [5]:
datos.dtypes

Diabetes_012            float64
HighBP                  float64
HighChol                float64
CholCheck               float64
BMI                     float64
Smoker                  float64
Stroke                  float64
HeartDiseaseorAttack    float64
PhysActivity            float64
Fruits                  float64
Veggies                 float64
HvyAlcoholConsump       float64
AnyHealthcare           float64
NoDocbcCost             float64
GenHlth                 float64
MentHlth                float64
PhysHlth                float64
DiffWalk                float64
Sex                     float64
Age                     float64
Education               float64
Income                  float64
dtype: object

In [6]:
#DEfinicion de datos enteros
datos[['Diabetes_012', 'GenHlth', 'MentHlth', 'PhysHlth', 'BMI', 'Age', 'Education', 'Income' ]] = datos[['Diabetes_012', 'GenHlth', 'MentHlth', 'PhysHlth', 'BMI', 'Age', 'Education', 'Income']].astype(int)

for col in datos.columns:
    if datos[col].dtype == 'float64':
        datos[col] = datos[col].astype(bool)

In [7]:
datos.dtypes
datos

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,True,True,True,40,True,False,False,False,False,...,True,False,5,18,15,True,False,9,4,3
1,0,False,False,False,25,True,False,False,True,False,...,False,True,3,0,0,False,False,7,6,1
2,0,True,True,True,28,False,False,False,False,True,...,True,True,5,30,30,True,False,9,4,8
3,0,True,False,True,27,False,False,False,True,True,...,True,False,2,0,0,False,False,11,3,6
4,0,True,True,True,24,False,False,False,True,True,...,True,False,2,3,0,False,False,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,0,True,True,True,45,False,False,False,False,True,...,True,False,3,0,5,False,True,5,6,7
253676,2,True,True,True,18,False,False,False,False,False,...,True,False,4,0,0,True,False,11,2,4
253677,0,False,False,True,28,False,False,False,True,True,...,True,False,1,0,0,False,False,2,5,2
253678,0,True,False,True,23,False,False,False,False,True,...,True,False,3,0,0,False,True,7,5,1
253679,2,True,True,True,25,False,False,True,True,True,...,True,False,2,0,0,False,False,9,6,2

In [8]:
datos.drop_duplicates(inplace=True)
# mostrar información del DataFrame
def info(df):
    print('Duplicated: ',df.duplicated().sum())
    print('Null values %:')
    print(100*df.isnull().sum()/len(df))

info(datos)

Duplicated:  0
Null values %:
Diabetes_012            0.0
HighBP                  0.0
HighChol                0.0
CholCheck               0.0
BMI                     0.0
Smoker                  0.0
Stroke                  0.0
HeartDiseaseorAttack    0.0
PhysActivity            0.0
Fruits                  0.0
Veggies                 0.0
HvyAlcoholConsump       0.0
AnyHealthcare           0.0
NoDocbcCost             0.0
GenHlth                 0.0
MentHlth                0.0
PhysHlth                0.0
DiffWalk                0.0
Sex                     0.0
Age                     0.0
Education               0.0
Income                  0.0
dtype: float64

In [9]:
datos['Diabetes_012'] = datos['Diabetes_012'].replace(2,1)

In [10]:
datos.describe()

,Diabetes_012,BMI,GenHlth,MentHlth,PhysHlth,Age,Education,Income
count,229781.000000,229781.00000,229781.000000,229781.000000,229781.000000,229781.000000,229781.000000,229781.000000
mean,0.172886,28.68567,2.601151,3.505373,4.675178,8.086582,4.980568,5.890383
std,0.378150,6.78636,1.064685,7.713725,9.046568,3.093809,0.992895,2.092477
min,0.000000,12.00000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,24.00000,2.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,27.00000,3.000000,0.000000,0.000000,8.000000,5.000000,6.000000
75%,0.000000,32.00000,3.000000,2.000000,4.000000,10.000000,6.000000,8.000000
max,1.000000,98.00000,5.000000,30.000000,30.000000,13.000000,6.000000,8.000000

In [11]:
porcentaje = 100*datos['Diabetes_012'].value_counts()/len(datos)
print(porcentaje.astype(str) + '%')

Diabetes_012
0     82.71136429904996%
1    17.288635700950035%
Name: count, dtype: object

Necesita un balanceo de clases

In [12]:
import matplotlib.pyplot as plt
import numpy as np
import math

import seaborn as sns 
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression # Importamos la clase de Regresión Lineal de scikit-learn
#from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error# error
#from sklearn import metrics

#from sklearn.model_selection import GridSearchCV

In [13]:
#Usando regresion logistica

features = datos.drop(columns=['Diabetes_012'])
target = datos['Diabetes_012']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=42)

In [15]:
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)
y_pred = log_reg.predict(X_test)
print('beta_0:',log_reg.intercept_)
print('beta_1:',log_reg.coef_)

beta_0: [-7.43263549]
beta_1: [[ 0.68130307  0.58939574  1.22797506  0.059154   -0.03505716  0.10076955
   0.17492196 -0.03313015 -0.02936797 -0.01450284 -0.69143265  0.0887547
   0.0609867   0.49419129 -0.00259911 -0.00788191  0.12801445  0.24396794
   0.12364387 -0.02505136 -0.05014473]]

In [ ]:
#PRUEBA ANTES DE BALANCEAR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error# error
# Error Cuadrado Medio
mse = mean_squared_error(y_test, y_pred)
# La raíz cuadrada del MSE es el RMSE 
rmse = np.sqrt(mse)
# Coeficiente de determinación R2
r2 = r2_score(y_test, y_pred)
# Error absoluto medio
mae = mean_absolute_error(y_test, y_pred)**0.5


print('Error Cuadrático Medio (MSE) = ' + str(mse))
print('Raíz del Error Cuadrático Medio (RMSE) = ' + str(rmse))
print('Coeficiente de Determinación R2 = ' + str(r2))
print('Error Absoluto Medio (MAE) = ' + str(mae))

Error Cuadrático Medio (MSE) = 0.16542492079518156
Raíz del Error Cuadrático Medio (RMSE) = 0.40672462526282027
Coeficiente de Determinación R2 = -0.1674415617278906
Error Absoluto Medio (MAE) = 0.40672462526282027